server {
    listen 80;
    listen [::]:80;

    root /home/final/webdev_final_project/frontend/build;

    index index.html;

    server_name short-final.tmuro17.xyz;

    location / {
        # First attempt to serve request as file, then
        # as directory, then fall back to displaying a 404.
        try_files $uri $uri/ /index.html;
    }
}
